h1{
  text-align: center;
  background-color: #dc2430;
  width: 10%;
  margin: 0 45%;
  border-radius: 25px;
  color: white;
}
h2{
  text-align: center;
}
body {
  background-color: #06beb6;
}
#headSpan{
  float: left;
  width: 50%;
  margin: 0% 25%;
  background-color: #dc2430;
  color: white;
  border-radius: 25px;
}
.letter {
  color: #dc2430;
  float: left;
  padding: 0 4%;
  font-size: 35px;
  background-color: #48b1bf;
}
.container{
  text-align: center;
}
.imageMan {
  margin: 0 40%;
  width: 214px;
  height: 300px;
}
.ans{
  width: auto;
  padding: 0%;
  height: 150px;
  border-radius: 15px;

}
input[type = submit] {
  background-color: #dc2430;
  border: none;
  color: white;
  border-radius: 25px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
}
input:disabled{
  background-color: #48b1bf;
  color: #48b1bf;
}
a:link, a:visited {
  color: #dc2430;
  }
#buttons{
  float: left;
  width: 50%;
  margin: 0% 25%;
  text-align: center;
  font-size: 50px;
  color: #dc2430;
  background-color: #48b1bf;
  border-radius: 25px;
  }
#refresh{
  color: red;
  }
#hangman{
  background-color: #48b1bf;
  border-radius: 25px;
  float: left;
  width: 50%;
  margin: 0 25%;
  height: auto;  
  }
p{
  text-align: center;
  font-size: 25px;
  }
